<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
</style>
</head>
<body>

<div class="container">
    <h1> Lista de Usuarios</h1>
    <!--Dibujamos la tabla-->
    <br><table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Correo electronico</th>
            <th>Direccion</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

        <!--Llenamos la tabla dibujada-->
        <tr th:each="user : ${AllUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.emailAddres}"></td>
            <td th:text="${user.addres}"></td>
            <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarUsuario/{id}(id=${user.id})}">Editar</a></button></td>
            <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarUsuario/{id}(id=${user.id})}">Eliminar</a></button></td>
        </tr>
    </table>

    <!-- Boton para nuevos usuarios -->
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarUsuario}">Agregar nuevo usuario</a></button>

</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${message}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Usuario creado con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Usuario actualizado con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Usuario eliminado con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Usuario no ha sido eliminado!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>